.categories {
  margin-top: 2rem;
  width: calc(100% - 22rem);
  background-color: #f9e3e0;
  margin-bottom: 2rem;
  padding: 1rem 3rem;
  display: flex;
  gap: 3rem;
  justify-content: space-between;

  &__table-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
