.categories {
  margin-top: 2rem;
  width: calc(100% - 20rem);
  background-color: #f9e3e0;
  margin-bottom: 2rem;
  padding: 1rem 10rem 1rem 3rem;
  display: flex;
  justify-content: space-between;
}
