<div class="categories">
  <div>
    <div class="categories__table-header">
      <h2>Income Categories</h2>
      <button mat-icon-button color="accent" aria-hidden="false"
              aria-label="add new income category"
              (click)="openAddNewCategory('income')">
        <mat-icon fontIcon="add"></mat-icon>
      </button>
    </div>
    @if (incomeCategories$ | async; as incomeCategories) {
      <app-category-table
        [categories]="incomeCategories"
        [transactionType]="'income'">
      </app-category-table>
    }
  </div>

  <div>
    <div class="categories__table-header">
      <h2>Expense Categories</h2>
      <button mat-icon-button color="accent" aria-hidden="false"
              aria-label="add new expense category"
              (click)="openAddNewCategory('expense')">
        <mat-icon fontIcon="add"></mat-icon>
      </button>
    </div>
    @if (expenseCategories$ | async; as expenseCategories) {
      <app-category-table
        [categories]="expenseCategories"
        [transactionType]="'expense'">
      </app-category-table>
    }
  </div>
</div>
