@use '@angular/material' as mat;
@include mat.core();

$tropical-forest: #004d40;
$vintage-porcelain: #F2ECEC;
$brides-blush: #f9e3e0;
$carbon: #333333;
$bigfoot: #6d4c41;
$droplet: #a3d9ff;

$primary: mat.define-palette(mat.$teal-palette, 900);
$accent: mat.define-palette(mat.$blue-palette, 100);

$my-theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($my-theme);

body {
  background: linear-gradient(to right, $vintage-porcelain 20%, $tropical-forest 20%);
  margin: 0;
  font-family: Arial, sans-serif;
  color: $carbon;
}

h1, h2, h3, h4, h5, h6 {
  text-align: left;
}
