.transactions {
  padding: 1rem 10rem 1rem 3rem;

  &__header {
    display: flex;
    justify-content: space-between;

    button {
      margin-top: 1rem;
      border-radius: 20px;
    }
  }

  &__table {
    background-color: unset;
    box-shadow: none;
  }
}
