.data-dashboard {
  margin-top: 2rem;
  width: calc(100% - 22rem);
  background-color: #F0E9E0;
  margin-bottom: 2rem;
  padding: 1rem 3rem;
  display: flex;
  gap: 3rem;
  justify-content: space-between;

  &__column {
    flex: 1;
  }
}
