<h1 class="expenses-tracker__header">Expenses Tracker</h1>
<nav class="expenses-tracker__navigation">
  <ul>
    <li><a routerLink="/transactions" routerLinkActive="active"
           ariaCurrentWhenActive="page">Transactions</a></li>
    <li><a routerLink="/categories" routerLinkActive="active"
           ariaCurrentWhenActive="page">Categories</a></li>
    <li><a routerLink="/data-visualization" routerLinkActive="active"
           ariaCurrentWhenActive="page">Data Visualization</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
