.expenses-tracker {
  &__header {
    display: flex;
    justify-content: end;
    color: #F0E9E0;
    margin-right: 3rem;
  }

  &__navigation {
    ul {
      display: flex;
      gap: 2rem;
      justify-content: flex-end;
      margin-right: 3rem;
      list-style-type: none;
      padding: 0;
    }

    a {
      text-decoration: none;
      color: #F0E9E0;
      display: block;

      &:hover {
        color: #FAF8F6;
      }

      &.active {
        text-decoration: underline;
      }
    }
  }
}
