<div class="overview-card">
  <div class="overview-card__balance">
    <h2>Balance</h2>
    <span>{{ balance.balance | currency:'EUR':'symbol':'1.2-2' }}</span>
  </div>
  <div class="overview-card__row">
    <div>
      <div class="overview-card__title">Incomes</div>
      <div
        class="overview-card__incomes-value">{{ balance.incomes | currency:'EUR':'symbol':'1.2-2' }}
      </div>
    </div>
    <div>
      <div class="overview-card__title">Expenses</div>
      <div
        class="overview-card__expenses-value"> {{ balance.expenses | currency:'EUR':'symbol':'1.2-2' }}
      </div>
    </div>
  </div>
</div>
